<!DOCTYPE html>
<html>
	<head>
		<title>Admin Portal</title>
		<link rel="stylesheet" type="text/css" href="/css/createCusotmer.css" />
		<meta charset="utf-8" />
	</head>
	<body>
		<div class="container">
			<form action="/customers/createCustomer" method="POST">
				<div class="heading">Create Customer</div>
				<label class="sub-head">Choose a Store</label>
				<div class="selector">
					<select class="store-name" name="store" id="store">
						<option value="ToyStore">Toy Store</option>
						<option value="ElectronicsStore">Electronics Store</option>
					</select>
				</div>
				<div class="sub-head">Enter Details</div>
				<div class="basic-fields">
					<input type="email" required="required" autocomplete="on" name="email" class="inp" placeholder="Enter Email" />
					<input type="text" required="required" autocomplete="on" name="name" class="inp" placeholder="Enter Name" />
					<input type="tel" required="required" autocomplete="on" name="phoneNumber" class="inp" placeholder="Enter Ph. No" pattern="[0-9]{10}" />
					<input type="text" required="required" autocomplete="on" name="address" class="inp" placeholder="Enter Address" />
					<input type="date" required="required" autocomplete="on" name="dob" class="inp" placeholder="Enter Date-of-Birth" />
				</div>
				<div class="custom-fields" id="toys">
					<div class="toys-fields">
						<div class="sub-head">Toys Fields</div>
						<% toyFields.forEach((field) => { %>
						<input type="<%= field.fieldType %>" autocomplete="on" name="<%= field.fieldName %>" class="inp" placeholder="<%= field.fieldName %>" />
						<% }) %>
					</div>
					<div class="electronics-fields">
						<div class="sub-head">Electronics Fields</div>
						<% electronicsFields.forEach((field) => { %>
						<input type="<%= field.fieldType %>" autocomplete="on" name="<%= field.fieldName %>" class="inp" placeholder="<%= field.fieldName %>" />
						<% }) %>
					</div>
				</div>
				<input class="btn" type="Submit" value="Submit" />
			</form>
		</div>
		<script type="text/javascript" src="/scripts/createCusotmer.js"></script>
	</body>
</html>
