<!DOCTYPE html>
<html>
	<head>
		<title>Custom Fields Add</title>
		<link rel="stylesheet" type="text/css" href="/css/createFields.css" />
		<meta charset="utf-8" />
	</head>
	<body>
		<div class="container">
			<div class="heading">Create Custom Fields</div>
			<label class="sub-head">Choose a Store</label>
			<div class="selector" id="selector">
				<!-- <select class="store-name" name="store" id="store">
					<option value="ToyStore">Toy Store</option>
					<option value="ElectronicsStore">Electronics Store</option>
				</select> -->
			</div>
			<div id="toy-fields">
				<% toyFields.forEach((field) => { %>
				<div class="fields">
					<span> <%= field.fieldName %> </span>
					<span> <%= field.fieldType %> </span>
					<div class="btn-group">
						<button class="update-btn">Update</button>
						<a href="/fields/deleteField/toys/<%= field.fieldName %>"><button class="delete-btn">Delete</button></a>
					</div>
				</div>
				<% }) %>
			</div>
			<div id="electronic-fields">
				<% electronicsFields.forEach((field) => { %>
				<div class="fields">
					<span> <%= field.fieldName %> </span>
					<span> <%= field.fieldType %> </span>
					<div class="btn-group">
						<button class="update-btn">Update</button>
						<a href="/fields/deleteField/electronics/<%= field.fieldName %>"><button class="delete-btn">Delete</button></a>
					</div>
				</div>
				<% }) %>
			</div>
			<form action="/fields/createFields" method="POST">
				<div class="selector">
					<select class="store-name" name="store" id="store">
						<option value="ToyStore">Toy Store</option>
						<option value="ElectronicsStore">Electronics Store</option>
					</select>
				</div>

				<div class="add-btn-cont"><label class="sub-head">Add Custom Fields &nbsp;&nbsp;</label><button class="add-btn">+</button></div>

				<div id="custom-fields-add"></div>
				<input class="btn" type="Submit" value="Submit" />
			</form>
		</div>
		<script type="text/javascript" src="/scripts/createFields.js"></script>
	</body>
</html>
