<!DOCTYPE html>
<html>
	<head>
		<title>Toys Users</title>
		<link rel="stylesheet" type="text/css" href="/css/customersView.css" />
	</head>
	<body>
		<div class="container">
			<div class="container">
				<div class="heading">User Details</div>

				<div class="selector" id="selector">
					<select class="store-name" name="store" id="store">
						<option value="ToyStore">Toy Store</option>
						<option value="ElectronicsStore">Electronics Store</option>
					</select>
				</div>

				<div id="toys-customer">
					<% toyCustomers.forEach((customer) => { %>
					<a href="/customers/details/<%= customer._id %>">
						<div class="card">
							<div class="user-name"><%= customer.name %></div>
							<div class="email"><%= customer.email %></div>
							<div class="other-details">
								<div class="dob"><%= customer.dob %></div>
								<div class="phoneNumber"><%= customer.phoneNumber %></div>
								<div class="address"><%= customer.address %></div>
							</div>
						</div>
					</a>
					<% }) %>
				</div>
				<div id="electronic-customer">
					<% electronicCustomers.forEach((customer) => { %>
					<a href="/customers/details/<%= customer._id %>">
						<div class="card">
							<div class="user-name"><%= customer.name %></div>
							<div class="email"><%= customer.email %></div>
							<div class="other-details">
								<div class="dob"><%= customer.dob %></div>
								<div class="phoneNumber"><%= customer.phoneNumber %></div>
								<div class="address"><%= customer.address %></div>
							</div>
						</div>
					</a>
					<% }) %>
				</div>
			</div>
		</div>

		<a href="/customers/createCustomer"><button class="create-customer-btn">CreateNewCustomer</button></a>
		<!-- <div class="card">
      <div class="delete-btn">X</div>
	    <div class="user-name">
	       Garvit Jain
	    </div>
	    <div class="email">
	      jain.garvit7@gmail.com
	    </div>
	    <div class="other-details">
	      <div class="dob">
	        09/08/1998      
	      </div>
	      <div class="phno">
	          1234567890
	      </div>
	      <div class="address">
	        XYZ, Udaipur, Rajasthan, India
	      </div>
	    </div>
	  </div> -->
		<script src="/scripts/customerView.js"></script>
	</body>
</html>
